<div id="addVehicle" class="modal fade" tabindex="1" aria-label="aboutModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New Vehicle</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/setup/vehicle" method="post">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="vehicle_make" class="col-xl-3 col-form-label">
                            Make
                        </label>
                        <div class="col-xl-9">
                            <input required type="text" class="form-control" name="vehicle_make" id="vehicle_make">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="vehicle_model" class="col-xl-3 col-form-label">
                            Model
                        </label>
                        <div class="col-xl-9">
                            <input required type="text" class="form-control" name="vehicle_model" id="vehicle_model">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="plate_number" class="col-xl-3 col-form-label">
                            Registration Number
                        </label>
                        <div class="col-xl-9">
                            <input required type="text" class="form-control" name="plate_number" id="plate_number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="vehicle_image" class="col-xl-3 col-form-label">
                            Photo(Front View)
                        </label>
                        <div class="col-xl-9">
                            <input required type="file" class="form-control" name="vehicle_image" id="vehicle_image">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" >Add</button>
                    <input type="hidden" name="tenant_id" value="{{session['id']}}">
                </div>
            </form>
        </div>
    </div>
</div>