{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3>
                        My Guest
                        <a href="#addGuest" data-toggle="modal" class="btn btn-warning float-right">Add New Guest</a>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Name</th>
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Registration Number</th>
                                    <th>Time</th>
                                    <th>...</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in guests %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{row[5]}}</td>
                                    <td>{{row[3]}}</td>
                                    <td>{{row[4]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td>{{row[6]}} at {{row[7]}}</td>
                                    <td>
                                        <a href="#">edit</a> |
                                        <a href="#">delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% include 'setup/_add_guest.html' %}