{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3>
                        <a href="#addVehicle" data-toggle="modal" class="btn btn-warning float-right">Add New Vehicle</a>
                    </h3>
                </div>
                <div class="card-body">
                        {% for vehicle in vehicles %}
                            <div class="card">
                                <div class="card-header">
                                    <img src="{{ vehicle.vehicle_image }}" alt="" style="max-height:120px">
                                </div>
                                <div class="card-body">
                                    Make: {{ vehicle.vehicle_make }}<br>
                                    Model: {{ vehicle.vehicle_model }}<br>
                                    Reg. Number: {{ vehicle.plate_number }}<br>
                                </div> 
                                <div class="card-footer">
                                    <a href="/setup/delete_vehicle?id={{vehicle.id}}" onclick="return false;" class="btn btn-danger btn-oval confirm_delete">delete</a>
                                </div>
                              </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% include 'setup/_add_vehicle.html' %}