{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3>
                        My Guest
                        <a href="#addGuest" data-toggle="modal" class="btn btn-warning float-right">Add New Guest</a>
                    </h3>
                </div>
                <div class="card-body">
                    {% for guest in guests %}
                    <div class="card">
                        <div class="card-header">
                           <h4>{{ guest.guest_name }}</h4>
                        </div>
                        <div class="card-body">
                            Make: {{ guest.vehicle_make }}<br>
                            Model: {{ guest.vehicle_model }}<br>
                            Reg. Number: {{ guest.plate_number }}<br>
                            Date: {{ guest.arrival_date}} <br>
                            Time: {{ guest.arrival_time}}
                        </div> 
                        <div class="card-footer">
                            <a href="/setup/delete_guest?id={{guest.id}}" onclick="return false;" class="btn btn-danger btn-oval confirm_delete">delete</a>
                        </div>
                        </div>
                    {% endfor %}
                   
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% include 'setup/_add_guest.html' %}