{% extends 'layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-default">
                <div class="card-header">
                    <h3>
                        My Guest
                        <a href="#addGuest" data-toggle="modal" class="btn btn-warning float-right">Add New Guest</a>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Name</th>
                                    <th>Make</th>
                                    <th>Model</th>
                                    <th>Registration Number</th>
                                    <th>Time</th>
                                    <th>...</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for guest in guests %}
                                <tr>
                                    <td>{{loop.index}}</td>
                                    <td>{{ guest.guest_name }}</td>
                                    <td>{{ guest.vehicle_make }}</td>
                                    <td>{{ guest.vehicle_model }}</td>
                                    <td>{{ guest.plate_number }}</td>
                                    <td>{{ guest.arrival_date}} at {{ guest.arrival_time}}</td>
                                    <td>
                                        <a href="/setup/delete_guest?id={{guest.id}}" onclick="return false;" class="btn btn-danger btn-oval confirm_delete">delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% include 'setup/_add_guest.html' %}